<div class="card">
    <div style="text-align: center; padding: 10px;">
      <img src="assets/req.png" alt="Employee Photo" class="profile-photo">
      <h3>{{name}}</h3>
    </div>
    <div style="padding: 10px; text-align: left;">
      <p class="text">Submitted On: <br> 
        <span style="color: gray; font-size: small ; font-weight: bold;">{{submittedOn  }}</span>
      </p>
      <p class="text">Duration: <br>
        <span style="color: gray; font-size: small ; font-weight: bold;">{{duration}}</span>
      </p>
      <p class="text">Salary: <br>
        <span style="color: gray; font-size: small ; font-weight: bold;">{{salary }}</span>
      </p>
    </div>
    <div style="text-align: center; padding: 10px;">
      <button class="decline-btn">Decline</button>
      <button class="approve-btn">Approve</button>
    </div>
  </div>
  