<section class="profile-section">
    <div class="profile-container">
        <!-- Upper level -->
        <div class="upper-level">
            <div class="profile-info">
                <img src="assets\req.png" alt="Profile Picture" class="profile-picture" />
                <div class="profile-details">
                    <h2>Ahmad Azmi</h2>
                    <p style="color: gray;">Marketing Department</p>
                    <p style="color: rgb(211, 211, 211);">Junior Accounting Officer</p>
                </div>
            </div>
            <div class="new-request-btn-container">
                <button class="new-request-btn" (click)="RefuseRequest()">New Request</button>
            </div>
        </div>

        <!-- Lower level (Icons and Stats) -->
        <div class="lower-level">
            <div class="stat-item">
                <div class="icon-and-label">
                    <i class="fas fa-user-tie icon"></i> 
                    <p>Reporting To</p>
                </div>
                <strong>Salwa Assem</strong>
            </div>
            <div class="stat-item">
                <div class="icon-and-label">
                    <i class="fas fa-building icon"></i> 
                    <p>Corporate Level</p>
                </div>
                <strong>Level 10</strong>
            </div>
            <div class="stat-item">
                <div class="icon-and-label">
                    <i class="far fa-clock icon"></i>
                    <p>Lifetime</p>
                </div>
                <strong>2.5 Years</strong>
            </div>
            <div class="stat-item">
                <div class="icon-and-label">
                    <i class="fas fa-plane-departure icon"></i> 
                    <p>Vacation Days Left</p>
                </div>
                <strong>10 Days</strong>
            </div>
            <div class="stat-item">
                <div class="icon-and-label">
                    <i class="fas fa-first-aid icon"></i> 
                    <p>Sick Days Left</p>
                </div>
                <strong>14 Days</strong>
            </div>
        </div>
    </div>
</section>
