

<!-- src/app/app.component.html -->
<!-- Main menu -->
<div class="header">
  <div class="MainBar">
      <ul class="MainBar-List left">
          <li><a routerLink="/home" routerLinkActive="active" class="choose">Home</a></li>
          <li><a routerLink="/profile" routerLinkActive="active" class="choose">Profile</a></li>
          <li><a  class="">Reports</a></li>
          <li><a  class="">Settings</a></li>
      </ul>
      <ul class="MainBar-List right">
          <li><a routerLink="/notifications"><i class="fa-regular fa-bell"></i></a></li>
          <li><a routerLink="/user"><i class="fa-regular fa-user"></i></a></li>
      </ul>
  </div>
</div>
<div class="body">    
  <router-outlet></router-outlet>
</div>
