<div class="box">
    <div class="profile-section">
        <img src="assets\req.png" alt="" class="profile-img">
        <div>
            <h4 class="user-name"><strong>Ahmad Azmi</strong></h4>
            <p class="user-role">Junior Accounting Officer</p>
        </div>
    </div>
    <div class="button-section">
        <a routerLink="/profile" routerLinkActive="active" class="btn-view-profile">View Profile</a>
    </div>
    <div class="info-section">
        <div class="info-item">
            <i class="fa-solid fa-user-tie fa-2x"></i>
            <div>
                <h5><strong>Reporting To:</strong></h5>
                <p style="color: gray;">Salwa Assem</p>
            </div>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-building fa-2x"></i>
            <div>
                <h5><strong>Corporate Level:</strong></h5>
                <p style="color: gray;">Level 10</p>
            </div>
        </div>
    </div>
    
</div>
